@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.header__logo {
  width: 55px;
}

.header__explorer,
button {
  background-color: rgb(111, 16, 199);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.icon-sm {
  width: 20px;
}

.highlighted {
  color: rgb(111, 16, 199);
}

.bold {
  font-weight: bold;
}

body {
  margin-bottom: 50px;
}


a {
  text-decoration: none;
  color: white;
}