.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carrousel__container {
  padding: 20px 60px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.divider {
  width: 100%;
  height: 1.5px;
  background-color: black;
  margin: 10px 0;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.rounded {
  border-radius: 12px;
}

.informations__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.informations__about__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.informations__autoria__image {
  border-radius: 100%;
  width: 80px;
}

.informations__autoria__container {
  display: flex;
  align-items: start;
  gap: 10px;
  margin: 10px 0;
}

.informations__autoria__text {
  margin-top: 5px;
}

.redes_sociais {
  display: flex;
  gap: 10px;
  align-items: end;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.a-explorer {
  text-decoration: none;
  color: white;
}

.a-explorer:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {

  body {
    padding: 0 5px;
  }

  .carrousel__container {
    padding: 0 10px;
  }

  .carousel-item img {
    height: 300px;
  }

  .row-cols-md-3 {
    grid-template-columns: 1fr;
  }

  .informations__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .informations__about__text {
    font-size: 14px;
    line-height: 1.4;
  }

  .informations__autoria__image {
    width: 60px;
  }

  .redes_sociais .icon-sm {
    width: 24px;
    height: 24px;
  }
}